@import "tailwindcss";

@layer base {
  :root {
    /* Default coffee theme */
    --background: 20 49% 15%; /* Very dark */
    --foreground: 35 50% 90%; /* Very light */
    --primary: 25 25% 47%; /* Medium */
    --secondary: 20 32% 29%; /* Dark */
    --accent: 20 30% 58%; /* Medium-light */
  }

  [data-theme="forest"] {
    --background: 160 25% 15%; /* Very dark */
    --foreground: 120 30% 90%; /* Very light */
    --primary: 160 25% 47%; /* Medium */
    --secondary: 160 22% 29%; /* Dark */
    --accent: 110 25% 58%; /* Medium-light */
  }

  [data-theme="ocean"] {
    --background: 215 55% 15%; /* Very dark */
    --foreground: 210 100% 90%; /* Very light */
    --primary: 215 60% 47%; /* Medium */
    --secondary: 215 55% 29%; /* Dark */
    --accent: 215 100% 58%; /* Medium-light */
  }
}

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
  --color-accent: hsl(var(--accent));
  --font-roboto: "Roboto";
}

body {
  font-family: var(--font-roboto);
}

.css-button-3d {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 6px;
  border: none;
  background: var(--color-primary);
  box-shadow: 0 6px var(--color-background);
}

.css-button-3d.pressed {
  box-shadow: 0 0 var(--color-background);
  top: 6px;
}

.css-button-3d:active:not(.pressed) {
  box-shadow: 0 0 var(--color-background);
  top: 6px;
}
